<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-list"></span> CATEGORIES</p>

                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li class="active">
                                        <span></span><a href="#">Health</a>

                                    </li>
                                    <li><span></span><a href="#">Food</a></li>
                                    <li><span></span><a href="#">Science & Tech</a></li>
                                    <li><span></span><a href="#">Agricultural</a></li>
                                    <li><span></span><a href="#">Business</a></li>
                                    <li><span></span><a href="#">Life</a></li>
                                    <li><span></span><a href="#">Entertainment</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
                <!-- ./block category  -->
                <!-- block video -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-video-camera"></span> VIDEOS</p>

                    <div class="block_content">
                        <iframe width="255" height="300" src="https://www.youtube.com/embed/oFuC0URYKqU" frameborder="0"
                                allowfullscreen=""></iframe>
                    </div>
                </div>
                <!-- ./block video  -->

                <!-- block image -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-camera"></span> GALLERIES</p>

                    <div class="block_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box-right">
                                    <ul class="product-list">
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news1_300x300.jpg"/></a>

                                                <div class="quick-view">
                                                    <a title="Zoom In" href="assets/images/news/news1.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news2_300x300.jpg"/></a>

                                                <div class="quick-view">
                                                    <a title="Zoom In" href="assets/images/news/news2.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product"
                                                        src="assets/images/news/news3_300x300.jpg"/></a>

                                                <div class="quick-view">
                                                    <a title="Zoom In" href="assets/images/news/news3.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news4_300x300.jpg"/></a>

                                                <div class="quick-view">
                                                    <a title="Zoom In" href="assets/images/news/news4.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news5_300x300.jpg"/></a>

                                                <div class="quick-view">
                                                    <a title="Zoom In" href="assets/images/news/news5.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news6_300x300.jpg"/></a>

                                                <div class="quick-view">
                                                    <a title="Zoom In" href="assets/images/news/news6.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./block image  -->
            </div>

            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- page heading-->
                <div class="page-heading">
                    <h2>
                        <span class="page-heading-title"><span class="fa fa-paperclip"></span> 7 Relaxing Yoga Poses for Adrenal Fatigue  </span>
                    </h2>
                </div>

                <div class="entry-meta-data" style="float: right; padding-top: 10px; padding-bottom: 10px">
                                            <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#"> Michael Kanter</a></span>
                    <span class="date"><i class="fa fa-calendar"></i> August 2, 2016 AT 5:53 PM </span>
                </div>

                <div style="padding-top: 50px">
                    <p style="text-align: justify">
                        A common question that I’m asked by my students is, “How can I become less stressed and have
                        more energy, without diminishing my drive and ambition for success?” Well, the opposite of
                        stress is relaxation. Think of the Yin Yang symbol and ask, “If one exists because of the other,
                        then what do you need to do when you feel stressed?” <b>Relax!</b> Ask any yogi what the best
                        asanas
                        are to relax the body, and the majority would say inversions and twists.
                    </p>

                    <p style="text-align: justify">
                        Set a timer for 5 minutes and pick a pose below.
                    </p>

                    <div style="text-align: center"><img src="assets/images/news/health-new.jpg" style="width: 60%;"></div>
                    <p style="text-align: justify; padding-top: 10px">
                        As you twist, you detoxify the organs such as the kidneys and the adrenal glands – which rest on
                        top of each kidney. As you twist, imagine gently squeezing the adrenal glands of toxins,
                        stagnant blood, and stale hormones. As you invert, you flood the brain with fresh blood, oxygen
                        and nutrients. So, imagine nurturing your hypothalamus (which controls the endocrine (hormonal)
                        system via the pituitary gland, both of which are located in your brain) with extra portions of
                        fresh blood and oxygen.
                    </p>

                    <p style="text-align: justify; padding-top: 10px; font-weight: bold;">
                        If there were a hierarchy of things to do to sooth your adrenal glands, the big boss would be
                        meditation.
                    </p>

                    <p style="text-align: justify">
                        Through meditation, you are eliciting what scientists call, <span style="color: orange;;">“The Relaxation Response.”</span>
                        This
                        response happens once you switch from using your sympathetic nervous system (flight or fight),
                        to using your parasympathetic nervous system (feed and breed).
                    </p>

                    <p style="text-align: justify">When you meditate for 5 minutes or more, you are telling your body,
                        “It’s now time to rest, digest my food, rebuild any stress placed on the body, and relish in
                        happy thoughts and actions.” In terms of your body’s biochemistry, you are telling your body,
                        “Breath deeply to calm the nerves, so that they can tell the adrenals to relax and stop flooding
                        my bloodstream with epinephrine (adrenaline) and cortisol (steroid).”</p>

                    <p style="text-align: justify">According to the researchers, “The rationale for using coconut oil as
                        a potential AD [Alzheimer’s Disease] therapy is related to the possibility that it could be
                        metabolized to ketone bodies that would provide an alternative energy source for neurons, and
                        thus compensate for mitochondrial dysfunction.” The researchers proposed that ketone bodies
                        formed as a byproduct of coconut oil metabolism may offset Aβ-induced impairment of
                        mitochondrial function and thus energy metabolism. Considering that the medium chain
                        triglyceride found in coconut known as caprylic acid does cross the blood-brain barrier, and has
                        recently been found to have anti-convulsant, in addition to, ketogenic effects, coconut oil
                        likely does have a neuroprotective effect.</p>

                    <p style="text-align: justify">For people who suffer from fatigue, less is more! So choose
                        restorative poses where props, such as straps, blocks, blankets and bolsters come in handy.
                        Restorative poses are simplified modifications of traditional poses and are held longer to allow
                        the body to rest and heal within the pose. Restorative yoga is a great way to get energy without
                        spending energy!</p>
                </div>


            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>