
<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-list"></span> PRODUCT</p>

                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li><span></span><a routerLink="/vegetables">Vegetables</a></li>
                                    <li><span></span><a routerLink="/fruits">Fruits</a></li>
                                    <li><span></span><a routerLink="/cereals">Cereals</a></li >
                                    <li><span></span><a routerLink="/beans">Beans</a></li>
                                    <li class="active">
                                        <span></span><a routerLink="/nuts-seeds">Nuts & Seeds</a>
                                    </li>
                                    <li><span></span><a routerLink="/spices">Spices</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
                <!-- ./block category  -->
                <!-- block best sellers -->
                <!--<div class="block left-module">-->
                <!--<p class="title_block">VIDEO</p>-->

                <!--<div class="block_content">-->
                <!--<iframe width="255" height="300" src="https://www.youtube.com/embed/oFuC0URYKqU" frameborder="0"-->
                <!--allowfullscreen=""></iframe>-->
                <!--</div>-->
                <!--</div>-->
                <!-- ./block best sellers  -->

                <!-- left silide -->
                <!--????????????????-->
                <!--./left silde-->
            </div>
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- page heading-->
                <h2 class="page-heading">
                    <span class="page-heading-title">Nuts & Seeds</span>
                </h2>
                <!-- ../page heading-->
                <!-- Product -->
                <div id="product">
                    <!-- box product -->
                    <div class="category-featured Vegetables">
                        <div class="product-featured clearfix">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="box-right">
                                        <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                                        <ul class="product-list">
                                            <li class="col-sm-4 product-item" style="width: 280px;">

                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/nuts/walnut_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/nuts/almond_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Walnuts - 500gr"
                                                           data-price="199500" data-image="nuts/walnut_300x300.jpg" data-product-code="WN982">Add to Cart</a>
                                                    </div>
                                                    <div class="price-percent-reduction2">
                                                        -30% OFF
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Walnuts - 500gr</a></h5>

                                                    <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 199,500đ</span>
                                                        <!--<br><span style="color: black">Price:</span>-->
                                                        <!--<span class="price old-price">285,000đ</span>-->
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/nuts/blacksesame_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/nuts/blacksesame_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Black Sesame - 1kg"
                                                           data-price="70000" data-image="nuts/blacksesame_300x300.jpg" data-product-code="BSD042">Add to Cart</a>
                                                    </div>
                                                    <div class="bestseller"></div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Black Sesame - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 70,000</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/nuts/almond_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/nuts/almond_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Almond - 500gr"
                                                           data-price="255000" data-image="nuts/almond_300x300.jpg" data-product-code="AM046">Add to Cart</a>
                                                    </div>
                                                    <div class="bestseller"></div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Almond - 500gr</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 255,000</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/nuts/pistachio_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/nuts/pistachio_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Pistachio - 500gr"
                                                           data-price="120000" data-image="nuts/blacksesame_300x300.jpg" data-product-code="PTD042">Add to Cart</a>
                                                    </div>
                                                    <div class="comingsoon"></div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Pistachio - 500gr</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 120,000</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/nuts/cashews_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/nuts/cashew_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Cashew - 500gr"
                                                           data-price="205000" data-image="nuts/cashews_300x300.jpg" data-product-code="CS046">Add to Cart</a>
                                                    </div>
                                                    <div class="comingsoon"></div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Cashew - 500gr</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 205,000</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/nuts/lotusseed_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/nuts/lotusseed_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Lotus Seeds - 1kg"
                                                           data-price="150000" data-image="nuts/lotusseed_300x300.jpg" data-product-code="LT109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Lotus Seeds - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 150,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/nuts/pumpkinseed_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/nuts/pumpkinseed_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Pumpkin Seed - 1kg"
                                                           data-price="140000" data-image="nuts/pumpkinseed_300x300.jpg" data-product-code="MB109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Pumpkin Seed - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 140,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/nuts/sunflowerseeds_300x300.jpeg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/nuts/sunflowerseeds_600x600.jpeg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Sunflower Seeds - 1kg"
                                                           data-price="125000" data-image="nuts/sunflowerseeds_300x300.jpeg" data-product-code="PBL109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Sunflower Seeds - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 125,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/nuts/peanut_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/nuts/peanut_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Peanuts - 1kg"
                                                           data-price="105000" data-image="nuts/peanut_300x300.jpg" data-product-code="PN109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#"> Peanuts - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 105,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./box product -->
                </div>
                <!-- Product -->
                <div class="sortPagiBar">
                    <div class="bottom-pagination">
                        <nav>
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">Next &raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="show-product-item">
                        <select name="">
                            <option value="">Show 9</option>
                            <option value="">Show 18</option>
                            <option value="">Show 27</option>
                            <option value="">Show 36</option>
                        </select>
                    </div>
                    <div class="sort-product">
                        <select>
                            <option value="">Product Name</option>
                            <option value="">Price</option>
                        </select>

                        <div class="sort-product-icon">
                            <i class="fa fa-sort-alpha-asc"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>