<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-list"></span> CATEGORIES</p>

                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li class="active">
                                        <span></span><a href="#">Health</a>

                                    </li>
                                    <li><span></span><a href="#">Food</a></li>
                                    <li><span></span><a href="#">Science & Tech</a></li>
                                    <li><span></span><a href="#">Agricultural</a></li>
                                    <li><span></span><a href="#">Business</a></li>
                                    <li><span></span><a href="#">Life</a></li>
                                    <li><span></span><a href="#">Entertainment</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
                <!-- ./block category  -->
                <!-- block video -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-video-camera"></span> VIDEOS</p>

                    <div class="block_content">
                        <iframe width="255" height="300" src="https://www.youtube.com/embed/oFuC0URYKqU" frameborder="0"
                                allowfullscreen=""></iframe>
                    </div>
                </div>
                <!-- ./block video  -->

                <!-- block image -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-camera"></span> GALLERIES</p>

                    <div class="block_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box-right">
                                    <ul class="product-list">
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news1_300x300.jpg"/></a>

                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="assets/images/news/news1.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news2_300x300.jpg"/></a>

                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="assets/images/news/news2.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product"
                                                        src="assets/images/news/news3_300x300.jpg"/></a>

                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="assets/images/news/news3.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news4_300x300.jpg"/></a>

                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="assets/images/news/news4.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news5_300x300.jpg"/></a>

                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="assets/images/news/news5.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news6_300x300.jpg"/></a>

                                                <div class="quick-view quick-view-2">
                                                    <a title="Zoom In" href="assets/images/news/news6.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./block image  -->
            </div>

            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- page heading-->
                <div class="page-heading">
                    <h2>
                        <span class="page-heading-title"><span class="fa fa-paperclip"></span> Apricot Kernel: Chinese Herb for Cough and Source of a Controversial Vitamin</span>
                    </h2>
                </div>

                <div class="entry-meta-data" style="float: right; padding-top: 10px; padding-bottom: 10px">
                                            <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#"> Sayer Ji</a></span>
                    <span class="date"><i class="fa fa-calendar"></i> August 4, 2016 AT 1:30 PM </span>
                </div>

                <div style="padding-top: 50px">
                    <p style="text-align: justify">Crack open an apricot pit and you’ll find a seed that looks, smells,
                        and tastes a lot like an almond. Apricot kernels are used to flavor the Italian liqueur amaretto
                        (a name that means “bitter love”). They are also an important herb in Chinese medicine and are
                        known as “xing ren” (bitter apricot seed).</p>

                    <div style="text-align: center"><img src="assets/images/news/shutterstock_440115364-676x450.jpg"
                                                         style="width: 60%;"></div>
                    <p style="text-align: justify; padding-top: 10px">Like other oily nuts and seeds, xing ren has a
                        lubricating quality that has been used for centuries to address hot and dry conditions at both
                        ends of the body. Xing ren’s most common use is to treat dry lungs with a chronic cough, but it
                        is also used to relieve constipation.</p>

                    <p style="text-align: justify">A dry mouth, sore throat, dry skin, and laryngitis are other ailments
                        that benefit from a bit of apricot kernel.</p>

                    <p style="text-align: justify">One of the key components of xing ren is a chemical called amygdalin,
                        which research has shown can reduce the incidence and severity of coughing and function as a
                        mild laxative.</p>

                    <p style="text-align: justify">Lots of other plants contain amygdalin, such as almonds, peach pits,
                        apple seeds, lima beans, and cashews, but apricot kernels are by far the richest source.</p>

                    <p style="text-align: justify">Despite its medicinal qualities and its almond-like charms, apricot
                        kernels are an herb to use with caution. When amygdalin breaks down in the body, it produces a
                        small amount of hydrocyanic acid or cyanide—a highly toxic substance. If you consume too many
                        kernels, it could cause nausea, vomiting, coma, and even death.</p>

                    <div style="text-align: center">
                        <iframe src="https://www.youtube.com/embed/BR3Qrm41sIg" width="580" height="315" frameborder="0"
                                allowfullscreen="allowfullscreen"></iframe>
                    </div>

                    <p style="text-align: justify">The cancer-fighting potential of amygdalin was first investigated in
                        Russia in the 1840s, and in the United States in the 1920s, yet it was determined to be too
                        toxic for general use. But Dr. Ernst T. Krebs (1911–1996), an American biochemist, was convinced
                        that amygdalin was a viable treatment. Krebs considered cancer a nutritional deficiency and
                        rebranded amygdalin as ” vitamin B17″—believing he had found the vital nutrient that could cure
                        it.</p>
                </div>


            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>