
<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-list"></span> PRODUCT</p>

                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li><span></span><a routerLink="/vegetables">Vegetables</a></li>
                                    <li class="active">
                                        <span></span><a routerLink="/fruits">Fruits</a>
                                    </li>
                                    <li><span></span><a routerLink="/cereals">Cereals</a></li>
                                    <li><span></span><a routerLink="/beans">Beans</a></li>
                                    <li><span></span><a routerLink="/nuts-seeds">Nuts & Seeds</a></li>
                                    <li><span></span><a routerLink="/spices">Spices</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
                <!-- ./block category  -->
                <!-- block best sellers -->
                <!--<div class="block left-module">-->
                <!--<p class="title_block">VIDEO</p>-->

                <!--<div class="block_content">-->
                <!--<iframe width="255" height="300" src="https://www.youtube.com/embed/oFuC0URYKqU" frameborder="0"-->
                <!--allowfullscreen=""></iframe>-->
                <!--</div>-->
                <!--</div>-->
                <!-- ./block best sellers  -->

                <!-- left silide -->
                <!--????????????????-->
                <!--./left silde-->
            </div>
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- page heading-->
                <h2 class="page-heading">
                    <span class="page-heading-title">Fruits</span>
                </h2>
                <!-- ../page heading-->
                <!-- Product -->
                <div id="product">
                    <!-- box product -->
                    <div class="category-featured Vegetables">
                        <div class="product-featured clearfix">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="box-right">
                                        <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                                        <ul class="product-list">
                                            <li class="col-sm-4 product-item" style="width: 280px;">

                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/fruits/papaya_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/fruits/papaya_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Papaya - 1kg"
                                                           data-price="10500" data-image="fruits/papaya_300x300.jpg" data-product-code="PP987">Add to Cart</a>
                                                    </div>
                                                    <div class="price-percent-reduction2">
                                                        -30% OFF
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Papaya - 1kg</a></h5>

                                                    <div class="content_price">
                                    <span class="price product-price"><span
                                            style="color: orangered">Best Price:</span> 10,500đ</span>
                                                        <!--<br><span style="color: black">Price:</span>-->
                                                        <!--<span class="price old-price">15,000đ</span>-->
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/fruits/avocado_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/fruits/avocado_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Avocado - 1kg"
                                                           data-price="52000" data-image="fruits/avocado_300x300.jpg" data-product-code="AC042">Add to Cart</a>
                                                    </div>
                                                    <div class="bestseller"></div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Avocado - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 52,000</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/fruits/grapes_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/fruits/grapes_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Grapes - 1kg"
                                                           data-price="52000" data-image="fruits/grapes_300x300.jpg" data-product-code="GP042">Add to Cart</a>
                                                    </div>
                                                    <div class="comingsoon"></div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Grape - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="assets/price product-price"><span style="color: black">Price:</span> 52,000</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/fruits/banana_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/fruits/banana_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Banana - 1kg"
                                                           data-price="15000" data-image="fruits/banana_300x300.jpg" data-product-code="BN109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Banana - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 15,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/fruits/lychee_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/fruits/lychee_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="lychee - 1kg"
                                                           data-price="45000" data-image="fruits/lychee_300x300.jpg" data-product-code="LC109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Lychee - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 40,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/fruits/mango_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/fruits/mango_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Mango - 1kg"
                                                           data-price="48000" data-image="fruits/mango_300x300.jpg" data-product-code="MG109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Mango - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 48,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/fruits/orange_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/fruits/orange_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Orange - 1kg"
                                                           data-price="50000" data-image="fruits/orange_300x300.jpg" data-product-code="OG109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Orange - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 50,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/fruits/Strawberry_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/fruits/Strawberry_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Strawberry - 1kg"
                                                           data-price="65000" data-image="fruits/Strawberry_300x300.jpg" data-product-code="STL109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#">Strawberry - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 65,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 product-item" style="width: 280px;">
                                                <div class="left-block">
                                                    <a><img class="img-responsive" alt="product"
                                                            src="assets/images/product-detail/fruits/pineapple_300x300.jpg"/></a>

                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" href="assets/images/product-detail/fruits/pineapple_600x600.jpg" class="search fancybox-button"></a>
                                                    </div>
                                                    <div class="add-to-cart">
                                                        <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Pineapple - 1kg"
                                                           data-price="25000" data-image="fruits/pineapple_300x300.jpg" data-product-code="PA109">Add to Cart</a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <h5 class="product-name"><a href="#"> Pineapple - 1kg</a></h5>

                                                    <div class="content_price">
                                                        <span class="price product-price"><span style="color: black">Price:</span> 25,000đ</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./box product -->
                </div>
                <!-- Product -->
                <div class="sortPagiBar">
                    <div class="bottom-pagination">
                        <nav>
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">Next &raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="show-product-item">
                        <select name="">
                            <option value="">Show 9</option>
                            <option value="">Show 18</option>
                            <option value="">Show 27</option>
                            <option value="">Show 36</option>
                        </select>
                    </div>
                    <div class="sort-product">
                        <select>
                            <option value="">Product Name</option>
                            <option value="">Price</option>
                        </select>

                        <div class="sort-product-icon">
                            <i class="fa fa-sort-alpha-asc"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>