<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-list"></span> CATEGORIES</p>

                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li class="active">
                                        <span></span><a href="#">Health</a>

                                    </li>
                                    <li><span></span><a href="#">Food</a></li>
                                    <li><span></span><a href="#">Science & Tech</a></li>
                                    <li><span></span><a href="#">Agricultural</a></li>
                                    <li><span></span><a href="#">Business</a></li>
                                    <li><span></span><a href="#">Life</a></li>
                                    <li><span></span><a href="#">Entertainment</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
                <!-- ./block category  -->
                <!-- block video -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-video-camera"></span> VIDEOS</p>

                    <div class="block_content">
                        <iframe width="255" height="300" src="https://www.youtube.com/embed/oFuC0URYKqU" frameborder="0"
                                allowfullscreen=""></iframe>
                    </div>
                </div>
                <!-- ./block video  -->

                <!-- block image -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-camera"></span> GALLERIES</p>

                    <div class="block_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box-right">
                                    <ul class="product-list">
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news1_300x300.jpg"/></a>

                                                <div class="quick-view">
                                                    <a title="Zoom In" href="assets/images/news/news1.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news2_300x300.jpg"/></a>

                                                <div class="quick-view">
                                                    <a title="Zoom In" href="assets/images/news/news2.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product"
                                                        src="assets/images/news/news3_300x300.jpg"/></a>

                                                <div class="quick-view">
                                                    <a title="Zoom In" href="assets/images/news/news3.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news4_300x300.jpg"/></a>

                                                <div class="quick-view">
                                                    <a title="Zoom In" href="assets/images/news/news4.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news5_300x300.jpg"/></a>

                                                <div class="quick-view">
                                                    <a title="Zoom In" href="assets/images/news/news5.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="assets/images/news/news6_300x300.jpg"/></a>

                                                <div class="quick-view">
                                                    <a title="Zoom In" href="assets/images/news/news6.jpg"
                                                       class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./block image  -->
            </div>

            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- page heading-->
                <div class="page-heading">
                    <h2>
                        <span class="page-heading-title"><span class="fa fa-paperclip"></span> Vegan? Here are Your Iron Sources  </span>
                    </h2>
                </div>

                <div class="entry-meta-data" style="float: right; padding-top: 10px; padding-bottom: 10px">
                                            <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#"> Melissa Breyer</a></span>
                    <span class="date"><i class="fa fa-calendar"></i> August 3, 2016 AT 2:10 PM</span>
                </div>

                <div style="padding-top: 50px">
                    <p style="text-align: justify">
                        There is a lot to be said for following a vegan or vegetarian diet; an excess of iron generally
                        isn’t one of them, particularly vegan iron sources.
                    </p>

                    <div style="text-align: center"><img src="assets/images/news/shutterstock_275793086-676x450.jpg"
                                                         style="width: 60%;"></div>
                    <p style="text-align: justify; padding-top: 10px">
                        Food has two types of iron: heme iron and non-heme iron. Heme iron is derived from hemoglobin
                        and is found in animal-based foods, notably meat and mollusks. Non-heme iron is found in
                        plant-based foods and isn’t as easily absorbed as heme iron. In fact, heme iron is absorbed two
                        to three times more efficiently than non-heme iron – so if you are avoiding hemoglobin-based
                        food (as in, animal products) it’s important to make it up with iron-rich plants.
                    </p>

                    <p style="text-align: justify">How much iron does a body need? The estimated Dietary Reference
                        Intakes (DRI) for iron in males aged 19 and older is 8 mg daily; females aged 19 – 50 should get
                        18 mg daily, and 8 mg daily for females 51 and older.</p>
                </div>


            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>